.Main {
  box-sizing: border-box;
  .grid-left {
    float: left;
    width: 50%;
    .text {
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
      text-align: center;
    }
  }
  .grid-right {
    float: right;
    width: 50%;
  }
}
